target/
dist/lib/
dist/*.jar
dist/quarkus/
dist/quarkus-run.jar
dist/app/**/*.jar
dist/data/
dist/logs/
data/
logs/
.idea/
*.iml
.classpath
.project
.settings/
tmp/
dogfood-output/
node_modules/
tools/as-node/node_modules
